.App {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    padding-bottom: 32px;
}

.infoBlock{
    height: 75vh;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.infoBlockLeft{
    align-items: flex-start;
}

.infoBlockRight{
    align-items: flex-end;
}
/* 
#first{
    height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 11px;
}

#first:hover{
    background-color: #582be257;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
